<section id='scrolly-side'>
  
  <div class='scrolly'>

    <!--  sticky graphic   -->
	<figure class="mapcontainer sticky">
		<svg id="mapone">
        <defs>
          <filter id="shadow">
            <feDropShadow dx="2" dy="2" stdDeviation="3"/>
          </filter>
        </defs>
    </svg>
  	</figure>
    
    <!--  step text   -->
	  <article>
        <div class='step'>
            <p>{{doc.p1}}</p>
        </div>
        <div class='step'>
           <p>{{doc.p2}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p3}}</p>
        </div>
        <div class='step'>
          {{> story/nationalgaps }}
        </div>
        <div class='step'>
          <p>{{doc.p5}}</p>
        </div>
        <div class='step'>
          {{> story/absolutefunding }}
        </div>
        <div class='step'>
          <p>{{doc.p7}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p8}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p9}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p10}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p11}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p12}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p13}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p14}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p15}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p16}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p17}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p18}}</p>
        </div>
	  </article>
    
  </div>
  
</section>

<section class='filler'>
  <p>
    End
  </p>
</section>