<section id='scrolly-side'>
  
  <div class='scrolly'>

    <!--  sticky graphic   -->
	<figure class="mapcontainer sticky">
		<svg id="mapone">
        <defs>
          <filter id="shadow" x="-100%" y="-100%" height="300%" width="300%">
            <feDropShadow dx="2" dy="2" stdDeviation="5"/>
          </filter>
          <filter id="capitalshadow" x="-100%" y="-100%" height="300%" width="300%">
            <feDropShadow dx="0" dy="0" stdDeviation="1" flood-color="#ffffff">
          </filter>
        </defs>
    </svg>
  	</figure>
    
    <!--  step text   -->
	  <article>
        <div class='step'>
            <p>{{doc.p1}}</p>
        </div>
        <div class='step'>
           <p>{{doc.p2}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p3}}</p>
        </div>
        <div class='step'>
          {{> story/nationalgaps }}
        </div>
        <div class='step'>
          <p>{{doc.p5}}</p>
        </div>
        <div class='step'>
          {{> story/absolutefunding }}
        </div>
        <div class='step'>
          <p>{{doc.p7}}</p>
        </div>
        <div class='step'>
          {{> story/fundingpercgdp }}
        </div>
        <div class='step'>
          <p>{{doc.p9}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p10}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p11}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p12}}</p>
        </div>
        <div class='step'>
          {{> story/incountryranges }}
        </div>
        <div class='step'>
          {{> story/explainclasses }}
        </div>
        <div class='step'>
          <p>{{doc.p15}}</p>
        </div>
	  </article>
    
  </div>
  
</section>