<section id='scrolly-side'>
  
  <div class='scrolly'>

    <!--  sticky graphic   -->
	<figure class="mapcontainer sticky">
		<svg id="mapone"></svg>
  	</figure>
    
    <!--  step text   -->
	  <article>
        <div class='step'>
            <p>{{doc.p1}}</p>
        </div>
        <div class='step'>
           <p>{{doc.p2}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p3}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p4}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p5}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p6}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p7}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p8}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p9}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p10}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p11}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p12}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p12}}</p>
        </div>
        <div class='step'>
          <p>{{doc.p12}}</p>
        </div>
	  </article>
    
  </div>
  
</section>

<section class='filler'>
  <p>
    End
  </p>
</section>