<section class='filler'>
  <div>
    <h2>What does it mean to split up regions?</h2>
    <p>{{doc.splitregions1}}</p>
    <ol>{{{doc.splitregions2}}}</ol>
    <p>{{doc.splitregions3}}</p>
    <p>{{doc.splitregions4}}</p>
    <p>{{doc.splitregions5}}</p>
  </div>
</section>